{% extends 'base.html' %}
{% from 'bootstrap5/form.html' import render_form %}
{% block title %} Dashboard {% endblock %}
{% block content %}

<div class="content" >
    <div class="header-container">
        <div class="space-left_side">
            <h1 class="font-bold" > Dashboard </h1></div>
        <div class="right cursive">
            <a>  welcome {{user.name}} </a>
             <a href="{{url_for('home')}}">Home</a>
            <a href="{{ url_for('logout') }}" >
                <button  class="fancy-button"> Log out </button></a>

        </div>
    </div>
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        <ul>
            {% for category, message in messages %}
                <li class="alert alert-{{ category }}">{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
{% endwith %}
    <script>
  window.onload = function() {
    // Select all elements with the 'alert' class
    var flashMessages = document.querySelectorAll('.alert');

    // Check if there are any flash messages
    if (flashMessages.length > 0) {
      // Hide each message after 2 seconds
      setTimeout(function() {
        flashMessages.forEach(function(flashMessage) {
          flashMessage.style.display = 'none';
        });
      }, 2000);  // Hide after 2 seconds
    }
  }
</script>
    <div class="flex-container">
        <div class="card1">
            <h2> Add a Task </h2>
            {{render_form(form, novalidate=True)}}
        </div>
        <div class="card2">
            <h2> Tasks </h2>
            {% if  all_task %}
                {% for task in all_task %}
                    <div class="card3">
                        <h4>{{task.task_name}}</h4>
                        <h4> Due_Date: {{task.due_date}}</h4>
                        <hr class="task-divider">
                        <a href="{{url_for('edit', task_id=task.id, user_name=user.name)}}"> ✎ </a>
                        <a href="{{url_for('completed', task_id=task.id, user_name=user.name)}}" class="space-left_side"> ✔ </a>
                        <a href="{{url_for('delete', task_id=task.id, user_name=user.name)}}" class="space-left_side"> 🗑 </a>
                    </div>
                {% endfor %}
            {% else %}
              <div class="center-card2">
                  <h4> No task is added.. </h4>
              </div>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}